<%= form_for @user, url:{action: :create} do |f|%>
    <%= f.label :uid, "UID" %>
    <%= f.text :uid %>
    <%= f.label :pass, "PASS" %>
    <%= f.password :pass %>
    <%= f.label :age, "AGE" %>
    <%= f.text :age %>
    <%= f.submit '登録' %>
<% end %>
<p>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
</p>
<p>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.password_field :password_confirmation %>
</p>